table {
  border-collapse: collapse;
  width: 95%;
  margin: 20px auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  width: 30%;
}

h3{
  direction: ltr;
  width: 100%;
  text-align: center;
  margin: 10px auto;
  font-size: 2rem;
  font-weight: 700;
  color: #1b1b1b;
}

.text{
  width: 100%;
  text-align: center;
  margin: 5px auto;
  font-size: 1.2rem;
  font-weight: 600;
  color: #2c2c2c;
  text-shadow: 0 0 2px rgb(207, 207, 207);
}